@reference "../../index.css";

.custom_button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: var(--spacing-150) var(--spacing-250);
	gap: var(--spacing-100);
	border-radius: var(--radius-full);
	border: 1px solid var(--color-neutral-900);
	box-shadow: 2px 2px 0 0 var(--color-neutral-900);
	height: 2.6875rem;
}
.custom_button:hover {
	box-shadow: 4px 4px 0 0 var(--color-neutral-900);
}
.custom_button:disabled {
	opacity: 0.5;
}
.primary {
	background: var(--color-yellow-500);
}
.secondary {
	background: var(--colors-neutral-0, #fff);
}

.border {
	box-shadow: none;
	padding: var(--spacing-150) var(--spacing-200);
}
.border:hover {
	background: var(--colors-neutral-100, #f7f3f0);
	box-shadow: none;
}
