@reference "../../index.css";

.container {
	display: flex;
	width: min(21.3rem, 24.8rem);
	min-height: 14.6rem;
	flex-direction: column;
	align-items: flex-start;
	@apply lg:w-[24.8rem];
}

.question {
	display: flex;
	padding: var(--spacing-200);
	align-items: baseline;
	gap: var(--spacing-125);
	align-self: stretch;
	border-bottom: 1px solid var(--color-neutral-900);
	min-height: 3.5rem;
	max-height: 6.5rem;
	overflow: auto;
	@apply lg:max-h-[5rem];
}

.answer {
	position: relative;
	display: flex;
	padding: var(--spacing-200);
	flex-direction: column;
	align-items: flex-start;
	gap: var(--spacing-75);
	flex: 1 0 0;
	align-self: stretch;
	min-height: 5rem;
	overflow: auto;
	border-bottom: 1px solid var(--color-neutral-900);
}

.footer {
	display: grid;
	min-height: 3.5rem;
	padding: 0 var(--spacing-200);
	gap: var(--spacing-100);
	grid-template-columns: auto 2fr 1.5rem;
	align-self: stretch;
	grid-auto-flow: column;
}
.tagBox {
	display: flex;
	padding-right: var(--spacing-125);
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 0.625rem;
	align-self: stretch;
	border-right: 1px solid var(--color-neutral-900);
}
.progressBarBox {
	display: flex;
	padding-right: var(--spacing-125);
	align-items: center;
	gap: var(--spacing-100);
	flex: 1 0 0;
	align-self: stretch;
	border-right: 1px solid var(--color-neutral-900);
}
.dropdownBox {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	align-self: stretch;
}
.dropdownBtn {
	display: flex;
	width: 1.5rem;
	height: 1.5rem;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-0);
	transition: 100ms;
	border-radius: var(--radius-4);
}
.dropdownBtn img {
	flex-shrink: 0;
}
.dropdownBtn:hover {
	border: 1px solid var(--color-neutral-900);
	background: var(--color-neutral-0);
	box-shadow: 2px 2px 0 0 var(--color-neutral-900);
}
