@reference "../../../index.css";

.flashcard_content {
	position: relative;
	display: flex;
	height: 22.5rem;
	padding: var(--spacing-250) var(--spacing-200);
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-200);
	align-self: stretch;
	border-radius: var(--radius-16);
	border: 2px solid var(--color-neutral-900);
	box-shadow: 2px 2px 0 0 var(--color-neutral-900);
	background: var(--color-pink-400);
	max-width: 48.5rem;
	width: 100%;
	@apply md:p-300 lg:w-194;
}
.flashcard_bg {
	background: url("../../../assets/images/pattern-flashcard-bg.svg") no-repeat top;
	width: 100%;
	height: 100%;
	position: absolute;
}
.category {
	display: flex;
	padding: var(--spacing-75) var(--spacing-150);
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
	border-radius: var(--radius-full);
	border: 1px solid var(--color-neutral-900);
	background: var(--color-neutral-0);
	box-shadow: 1px 1px 0 0 #000;
	@apply text-preset-6;
}
.question_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-200);
	flex: 1 0 0;
	align-self: stretch;
}
.question {
	align-self: stretch;
	color: var(--color-neutral-900);
	text-align: center;
	text-wrap: pretty;
	@apply text-preset-1;
}
.hint {
	align-self: stretch;
	color: var(--color-neutral-900);
	text-align: center;
	opacity: 0.8;
	@apply text-preset-4-md;
}
.progress_container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}
.progress_bar {
	display: flex;
	width: 3.75rem;
	height: 0.5rem;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--spacing-0);
	border-radius: var(--radius-full);
	border: 1px solid var(--color-neutral-900);
	background: var(--color-neutral-0);
}
.progress_bar_hint {
	@apply text-preset-6;
}
