/* Global styles */
@import "tailwindcss";

@theme {
	--*: initial;
	--font-family: "Poppins", sans-serif;

	/* Breakpoints */
	--breakpoint-sm: 375px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1440px;

	/* Colors */
	--color-neutral-900: #2e1401;
	--color-neutral-600: #6d5b4d;
	--color-neutral-100: #f7f3f0;
	--color-neutral-0: #ffffff;

	--color-yellow-500: #f8cb46;
	--color-blue-600: #5072c7;
	--color-blue-400: #92adeb;
	--color-teal-400: #47d9c9;
	--color-pink-700: #e11966;
	--color-pink-500: #f073a3;
	--color-pink-400: #fc8ae5;

	--color-text-primary: #02012c;

	/* Spacing */
	--spacing-0: 0;
	--spacing-25: 0.125rem;
	--spacing-50: 0.25rem;
	--spacing-75: 0.375rem;
	--spacing-100: 0.5rem;
	--spacing-125: 0.625rem;
	--spacing-150: 0.75rem;
	--spacing-200: 1rem;
	--spacing-250: 1.25rem;
	--spacing-300: 1.5rem;
	--spacing-400: 2rem;
	--spacing-500: 2.5rem;
	--spacing-600: 3rem;
	--spacing-800: 4rem;
	--spacing-1000: 5rem;
	--spacing-1200: 6rem;
	--spacing-1400: 7rem;
	--spacing-1600: 8rem;
	--spacing-1800: 8.75rem;

	/* Radius */
	--radius-0: 0;
	--radius-4: 0.25rem;
	--radius-6: 0.375rem;
	--radius-8: 0.5rem;
	--radius-10: 0.625rem;
	--radius-12: 0.75rem;
	--radius-16: 1rem;
	--radius-20: 1.25rem;
	--radius-24: 1.5rem;
	--radius-full: 62.4375rem;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

.text-preset-1 {
	@apply text-2xl font-bold leading-12 tracking-normal md:text-[2rem] lg:text-[2.5rem];
}
.text-preset-2 {
	@apply text-2xl font-semibold leading-12 tracking-normal;
}
.text-preset-3 {
	@apply text-xl font-semibold leading-12 tracking-normal;
}
.text-preset-4-semibold {
	@apply text-base font-semibold leading-12 tracking-normal;
}
.text-preset-4-md {
	@apply text-base font-medium leading-12 tracking-normal;
}
.text-preset-4 {
	@apply text-base font-normal leading-5 tracking-normal;
}
.text-preset-5-md {
	@apply text-sm font-medium leading-5 tracking-normal;
}
.text-preset-md {
	@apply text-sm font-medium leading-5 tracking-normal;
}

.text-preset-5 {
	@apply text-sm font-normal leading-5 tracking-normal;
}
.text-preset-6 {
	@apply text-xs font-normal leading-3.5 tracking-[-0.0225rem];
}
