@reference "../../index.css";

.tabBase {
	display: inline-flex;
	height: 2.9375rem;
	align-items: center;
	padding: var(--spacing-50);
	gap: var(--spacing-50);
	border-radius: var(--radius-full);
	border: 1px solid var(--color-neutral-900);
	background-color: var(--color-neutral-0);
	box-shadow: 1px 2px 0 0 #2e1401;
	@apply md:h-13;
}
.tabBase button {
	display: flex;
	place-items: center;
	padding: var(--spacing-200) var(--spacing-150);
	gap: var(--spacing-125);
	height: 2.43rem;
	color: var(--color-neutral-900);
	@apply text-preset-4-semibold md:h-11;
}
.activeTab {
	border-radius: var(--radius-full);
	border: 1px solid var(--color-neutral-900);
	background-color: var(--color-yellow-500);
}

.tabBase button:hover {
	border-radius: var(--radius-full);
	border: 1px solid var(--color-neutral-900);
}
.tabBase button:hover + .tabBase button:active {
	border-radius: var(--radius-full);
	border: 1px solid var(--color-neutral-900);
	background-color: var(--color-yellow-500);
}
